### 1. 연산자 (Opeartor) 

* 산술 연산자 
* 할당 연산자
* 비교 연산자
* 논리 연산자

In [1]:
# 1.1 산술 연산자 
# +, -, *, |, **, %
# 기존에 없던 새로운 열을 만들어 낼 떄

In [2]:
3 + 4

7

In [3]:
3 - 4

-1

In [4]:
3 * 4

12

In [5]:
13//4 #몫

3

In [6]:
# 1.2 할당 연산자
# = 
# 저장하는 기능(데이터, 데이터 분석 결과)
# 이름 = data 

# 참소
# 저장이 되면 RAM이라는 메모리에 올라감

In [7]:
x1 = 10

In [8]:
x1

10

In [9]:
x2 = 'Love'

In [10]:
x2

'Love'

In [11]:
# 1.3 비교 연산자
# >, >=, <, <=, ==, != 
# 조건에 맞는 데이터를 잘라내기(추출하기)

In [12]:
3 > 4

False

In [13]:
3 < 4

True

In [14]:
3 <= 4

True

In [15]:
3 != 4

True

In [16]:
# 1.4 논리 연산자 
# & : 2개의 조건을 동시에 모두 만족할 떄 잘라내기 됨 
# | : 2개의 조건 중 하나만 만족해도 잘라내기 됨
# 2개 이상의 조건을 줄 때 사용함

In [17]:
(3 > 4) & (5 > 4)

False

In [ ]:
(3 > 4) | (5 > 4)

### 2. 데이터의 유형 (Type)

* 수치형 
* 문자형
* Boolean or Bool

In [ ]:
# 2.1 수치형 (Numeric)
# 정수형(integer) 
# 실수형(float)

In [ ]:
x1 = 10

In [ ]:
# x1: data
# type:numeric, integer

In [ ]:
x2 = 10.2

In [ ]:
# x2: data
# type: numeric, float

In [ ]:
# 2.2 문자형(String, Object, Category )

In [ ]:
x3 = "인생은 고통의 바다이다."

In [ ]:
# x3 : data
# type : string

In [ ]:
x4 = "문제가 문제가 아니라 문제를 대하는 나의 태도가 문제다."

In [ ]:
# x4 : data
# type : string

In [ ]:
x5 = False

In [ ]:
# x5 : data
# type : boolean

In [ ]:
x6 = True

In [ ]:
# x6 : data
# type : boolean

### 3. 데이터(Data)
- 리스트(list) 
- 튜플(tuple)
- 딕셔너리(Dictionary)
- 시리즈(Series)
- 데이터프레임(DataFrame)

In [ ]:
# 3.1 리스트(List)
# 활용도가 매우 높다
# 전체 데이터에서 일부를 잘라내기 또는 함수의 파라미터의 값을 설정할 때

In [ ]:
# (1) 리스트 만들기
# [값1, 값2, 값3, 값4, 값5...]

In [ ]:
hobby = ["음악 감상", "배드민턴", "낚시", "애니메이션"]

In [ ]:
# hobby: data, list
# type: string

In [ ]:
money = [50, 70, 60, 50]

In [ ]:
# money: data, list
# type: numeric, integer

In [ ]:
# (2) 리스트 위치: index
# 참고 
# 파이썬에서 index는 3가지를 표현함
# (1) 위치
# (2) 행(row)
# (3) 행의 이름 

# 파이썬에서 첫 번째는 0으로 표현함

In [ ]:
# (3) 리스트의 슬라이싱(slicing)
# list[index]

In [ ]:
age = [10, 20, 30, 40, 50]

In [ ]:
age[0]

In [ ]:
age[1]

In [ ]:
age[4]

In [ ]:
age[-1]

In [ ]:
# list[start:stop:step]

In [ ]:
age = [ 10, 5, 20 ,15, 30, 40, 100]

In [ ]:
age[3:] # 4th에서 끝까지

In [ ]:
age[:4] # 1st부터 4th까지

In [ ]:
# 3.2 튜플(Tuple)
# 리스트와 거의 비슷함
# 리스트의 값은 수정이 가능하지만 튜플 값은 수정 불가능함

In [ ]:
# (1) 튜플 만들기
# (값1, 값2, 값3, ...)

In [ ]:
parameter = (1, 2, 3)

In [ ]:
# parameter = data, tuple 
# type : numeric, ineteger

In [ ]:
# 3.3 딕셔너리 (Dictionary)
# 검색을 빠르게 하기 위해 만들어짐 
# Key, Value로 구성되어 있음

In [ ]:
# (1) 딕셔너리 만들기 
# {"key1": value(s), "key2": value(s)}
survey = {"id": [1, 2, 3, 4], 
          "name":["조창범", "배원호", "김지유", "김도희"],
         "food": ["안창살", "치킨", "떡볶이", "마라탕"]}

In [ ]:
# survey : data, dictionary

In [ ]:
# 3.4 시리즈(Series)
# 하나의 열 또는 하나의 행으로 구성되어 있음

In [ ]:
# 3.5 데이터프레임(DataFrame)
# 행과 열로 구성되어 있음. 2차원 구조
# 열마다 같은 데이터 유형을 가질 수도 있고, 다른 데이터 유형을 가질 수 있음 
# 데이터 분석을 한다고 하면, 그 데이터는 바로 데이터프레임을 얘기함.

In [ ]:
#(1) 데이터 프레임 만들기
# pandas.DataFrame(dictionary)

In [ ]:
# pandas: 패키지(package) : 데이터 핸들링, 데이터 읽어오기, 저장하기, 데이터 분석 
# 패키지: 함수들의 모임

# 함수를 호출
# 패키지명.함수명()

In [ ]:
# 패키지 사용하는 방법
# (1) 패키지를 설치해야 함: 하드(HDD)에 설치
# anaconda prompt, pip install 패키지명

# (2) 패키지 로딩하기 
# 패키지를 RAM에 올리는 기능
# import 패키지명 as 애칭, 별명, 줄임말

# 참고: as : alias의 약자

In [ ]:
import pandas as pd

In [ ]:
survey = pd.DataFrame(survey)
survey

In [ ]:
# survey: data, dataframe

### 4. 데이터 읽어오기 
- txt.
- csv. 
- xls, xlsx
- pickle
- DB

In [ ]:
# 4.1 txt
# 데이터의 이름 = pd.read_table(filepath_ir_buffer = "directory/filename.txt",
#                                             sep  = '' or ',' or "\t",
#                                          header  = 0, 
#                                        encoding  = 'EUC-KR')

In [ ]:
factory = pd.read_table(filepath_or_buffer= "d:/novelis/ds2023/factory.txt",
                        sep               = ' ',
                        header            = 0)
factory

In [ ]:
culture = pd.read_table(filepath_or_buffer="d:/novelis/ds2023/culture.txt",
                       sep                = ",",
                       header             = 0)
culture

In [ ]:
travel = pd.read_table(filepath_or_buffer= "d:/novelis/ds2023/travel.txt",
                      sep                = "\t",
                      header             = 0)
travel

In [ ]:
# 4.2 csv
# csv : comma separated value
# 데이터의 이름 = pd.read_csv(filepath_ir_buffer = "directory/filename.csv",
#                                             sep  = '' or ',' or "\t",
#                                          header  = 0, 
#                                        encoding  = 'EUC-KR')

In [ ]:
wish = pd.read_csv(filepath_or_buffer = "d:/novelis/ds2023/wish.csv",
                  header              = 0,
                  encoding            = 'EUC-KR')
wish

In [ ]:
# 4.2 xls, xlsx
# csv : comma separated value
# 데이터의 이름 = pd.read_xls(io= "directory/filename.xlsx",
#                             sheet_name  = '' or ',' or "\t",
#                             header  = 0)

In [ ]:
reading1 = pd.read_excel(io = "d:/novelis/ds2023/reading.xlsx",
                     sheet_name = "data",
                    header = 0)
reading1

In [ ]:
reading2 = pd.read_excel(io = "d:/novelis/ds2023/reading.xlsx",
                     sheet_name = 0,
                    header = 0)
reading2

In [ ]:
# 4.4 pickle
# 데이터의 이름 = pandas.read_pickle(filepath_or_buffer = "directory/filename.pickle)

In [ ]:
reading = pd.read_pickle(filepath_or_buffer = "d:/novelis/ds2023/reading_20230828.pickle")

reading

### 5. 데이터 저장하기 
- txt
- csv
- xls. xlsx
- pickle

In [ ]:
# RAM에 저장되어 있는 파이썬 데이터를 HDD에 저장하는 것

In [ ]:
# 5.1 txt
# data.to_csv(path_of _buf = "directory(filename.txt",
#             sep          = " "or "," or "\t",
#             index        = False)

In [ ]:
reading1.to_csv(path_or_buf = "d:/novelis/ds2023/reading_20230828.txt",
              sep          = " ",
              header       = True,
              index        = False)

In [ ]:
# 5.2 csv
# data.to_csv(path_of _buf = "directory(filename.csv",
#             header       = True
#             index        = False)

In [ ]:
reading1.to_csv(path_or_buf = "d:/novelis/ds2023/reading_20230828.csv",
               header       = True,
               index        = False,
               encoding     ='EUC-KR')

In [ ]:
# 5.3 xls, xlsx
# data.to_excel(excel__writer = "directory/filename.xlsx",
#               sheet_name    = "sheet_name",
#               header        = True,
#               index         = False)

In [ ]:
reading1.to_excel(excel_writer = "d:/novelis/ds2023/reading_20230828.xlsx",
                  sheet_name   = "data",
                  header       = True,
                  index        = False)

In [ ]:
# 5.4 pickle
# data.to_pickle(path = "dirctory/finame.pkl")

In [ ]:
reading1.to_pickle(path = "d:/novelis/ds2023/reading_20230828.pickle")

### 6. 데이터 핸들링 (Data Handling) = 데이터 전처리(Data pre-processing)
- 데이터 보기
- 데이터의 속성
- 데이터의 슬라이싱
- 데이터의 생성
- 데이터의 삭제
- 데이터의 정렬
- 데이터 합치기

In [ ]:
# 예제 데이터 : seabon 패키지 diamonds 데이터

In [ ]:
import seaborn as sns

In [ ]:
diamonds = sns.load_dataset("diamonds")

In [ ]:
# 6.1 데이터 보기 
# 데이터를 잘 읽어왔는지를 확인
# 전체, 일부(head, tail)

In [ ]:
# (1) 전체 
# 데이터의 양이 적을 떄: 행 기준 
diamonds

In [ ]:
# (2) 일부: data.head(n=5)

In [ ]:
diamonds.head()

In [ ]:
diamonds.tail()

In [ ]:
# 6.2 데이터의 속성(Attributes)
# 행의 갯수, 열의 갯수, 열의 이름, 데이터의 유형, 정보

In [ ]:
# (1) 행의 갯수 : len(data)
len(diamonds)

In [ ]:
# (2) 행의 갯수와 열의 갯수: data.shape
#(숫자 1, 숫자 2) -> 숫자 1: 행의 갯수, 숫자 2: 열의 갯수

# 차원(dimension): 숫자의 개수가 몇 개인지를 확인

diamonds.shape  # -> 2차원 구조

In [ ]:
# (3)열의 이름: data.columns
diamonds.columns

In [ ]:
# (4) 데이터의 유형: data.dtypes
diamonds.dtypes

In [ ]:
# (5) 데이터의 정보: data.info()
diamonds.info()

In [ ]:
# 참고: Missing value(결측치, 결측값)

# 만약에 데이터에 missing value가 존재한다면
# (1) 삭제한다 : 행, 열
# (2) 대체한다(imputation) : 다름 값으로 결측치를 바꿈
# 문자형: 가장 많이 있는 값, 가장 적은 값
# 수치형: 평균, 절사평균, 중위값, ...

In [ ]:
# 6.3 데이터의 슬라이싱 
# 열, 행, 행과 열

In [ ]:
# (1) 열
# 하나의 열, 2개 이상인 경우

In [ ]:
# i. 하나의 열
# data['열의 이름'] or data.열의 이름

In [ ]:
diamonds['carat']

In [ ]:
diamonds.carat

In [ ]:
# ii. 2개 이상의 열
# data[["열1", "열2", ...]]
# data.loc[:, 열]

In [ ]:
# cut, color, clarity

diamonds[["cut", "color", "clarity"]]

In [ ]:
diamonds.loc[:, ["cut", "color", "clarity"]]

In [ ]:
# (2) 행: 비교 연산자, 논리 연산자 
# data.loc[조건, :]

In [ ]:
# i. cut : "Fair" , "Good", "Very Good", " Premium", "Ideal"
# cut이 "Ideal"인 데이터
diamonds.loc[diamonds.cut == "Ideal" , :]

In [ ]:
# ii. price 가 18000 달러 이상인 데이터 
diamonds.loc[diamonds.price >= 18000, :]

In [ ]:
# iii. cut은 "Ideal"이고, price는 18000 달러 이상인 데이터
diamonds.loc[(diamonds.cut == "Ideal") & (diamonds.price >= 18000), :]

In [ ]:
# iv. cut은 "Ideal"이거나 또는, price는 18000 달러 이상인 데이터
diamonds.loc[(diamonds.cut == "Ideal") | (diamonds.price >= 18000), :]

In [ ]:
# (3) 행과 열
# data.loc[행, 열]

# cut은 "Ideal"이고, price는 18000 달러 이상인 데이터의 'x', 'y', 'z'

In [ ]:
diamonds.loc[(diamonds.cut == "Ideal") | (diamonds.price >= 18000), ['x', 'y', 'z']]

In [ ]:
# 6.5  데이터의 생성: 열
# 참고
# 열(column)
# 통계     : 변수(variable) : 독립 변수(설명 변수), 종속 변수(반응 변수)
# 인공지능 : Feature, Label(or Target) 

# x: 독립변수(설명변수), Feature
# y: 종속변수(반응변수), Label or Target

# 데이터 분석의 최종: Y가 숫자냐 문자냐 
# 숫자면 : 예측
# 문자면 : 숫자지만 숫자의 의미가 없는 경우 : 분류

In [ ]:
# (1) 연산
# data["새로운 열의 이름"] = 연산
# 새로운 열의 이름 : xyz_mean
# 연산             : (x + y + z)/자유도 (df: degree of freedom)

diamonds["xyz_mean"] = (diamonds.x + diamonds.y + diamonds.z)/3
diamonds.head()

In [ ]:
# (2) 변환(Transformation)
# 숫자로 된 데이터만 적용

# 로그 변환(log), 루트 변환(root), 역수 변환(inverse)

In [ ]:
import numpy as np

In [ ]:
# i. 로그 변환(Log Transformation)
# 새로운 열의 이름 : price_log10
# numpy.log10(수치형 데이터)

diamonds["price_log10"] = np.log10(diamonds.price)

In [ ]:
dia